<div class="widget am-cf">
    <div class="widget-head am-cf">
        <div class="widget-title am-fl">设备状态:
            <span th:if="${device.isOnline}==true" class="am-badge am-badge-success">
                在线
            </span>
            <span th:if="${device.isOnline}==false" class="am-badge am-badge-danger">
                离线
            </span>
        </div>

        <table class="am-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>设备类型</th>
                <th>创建时间</th>
                <th>数据量</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${device.id}"></td>
                <td>树莓派</td>
                <td th:text="${device.type }"></td>
                <td>2012-10-01</td>
                <td>3123</td>
                <td>温度探测器</td>
            </tr>

            </tbody>
        </table>

    </div>
</div>


<div class="widget am-cf">
    <div class="widget-head am-cf">
        <div class="widget-title am-fl">命令面板</div>
        <!--没有使用网格的内容-->
        <div class="am-container">

            <form class="am-form am-form-horizontal">
                <div class="am-form-group">
                    <label for="doc3" class="am-u-sm-2 am-form-label">ID</label>
                    <div class="am-u-sm-10">
                        <input type="text" id="deviceId" placeholder="当前设备ID" name="deviceId"
                               th:attr="value=${ device.id}" disabled="disabled"/>
                        <input type="hidden" id="deviceType" placeholder="当前设备ID" name="deviceType"
                               th:attr="value=${ device.type}" disabled="disabled"/>
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="doc-ipt" class="am-u-sm-2 am-form-label">内容</label>
                    <div class="am-u-sm-10">
                        <input type="text" id="message" name="message" placeholder="输入你想推送内容" required="required"/>
                    </div>
                </div>


                <div class="am-form-group">
                    <div class="am-u-sm-10 am-u-sm-offset-2">
                        <button type="button" onclick="push()" class="am-btn am-btn-default">推送</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<script type="application/javascript">
    function push() {
        $.post("/admin/pushMessage", {
            deviceId: $('#deviceId').val(),
            deviceType: $('#deviceType').val(),
            message: $('#message').val()
        }, function (data, status) {
            console.log($('#deviceId').val())
            console.log($('#deviceType').val())
            console.log($('#message').val())
            alert("推送成功！");
        });
    }

</script>

<div class="widget am-cf" th:if="${device.type.name() == 'TYPE_SWITCHER'}">
    <div class=" widget-head am-cf">
        <div class="widget-title am-fl">TYPE_SWITCHER</div>
    </div>
</div>

<div class="widget am-cf" th:if="${device.type.name() == 'TYPE_MEDIA'}">
    <div class="widget-head am-cf">
        <div class="widget-title am-fl">TYPE_MEDIA</div>
    </div>

</div>

<div class="widget am-cf" th:if="${device.type.name() == 'TYPE_VALUE'}">
    <div class="widget-head am-cf">
        <div class="widget-title am-fl">TYPE_SWITCHER</div>
    </div>
    <button type="button" class="am-btn am-btn-secondary">次色按钮</button>
    <button type="button" class="am-btn am-btn-success">绿色按钮</button>
</div>





