<div class="widget am-cf">
    <div class="widget-head am-cf">
        <div class="widget-title am-fl" >设备状态:
            <span th:if="${device.isOnline}" class="am-badge am-badge-success">
                在线
            </span>
            <span th:if="${device.isOnline}" class="am-badge am-badge-danger">
                离线
            </span>
        </div>


        <table class="am-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>创建时间</th>
                <th>数据量</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${device.id}"></td>
                <td>树莓派</td>
                <td>2012-10-01</td>
                <td>3123</td>
                <td>温度探测器</td>
            </tr>

            </tbody>
        </table>

    </div>
</div>


<div class="widget am-cf">
    <div class="widget-head am-cf">
        <div class="widget-title am-fl">命令面板</div>
        <!--没有使用网格的内容-->
        <div class="am-container">

            <form class="am-form am-form-horizontal">
                <div class="am-form-group">
                    <label for="doc-ipt-3" class="am-u-sm-2 am-form-label" >ID</label>
                    <div class="am-u-sm-10">
                        <input type="text" id="doc-ipt-3" placeholder="当前设备ID" th:attr="value=${ session.currentUser.id}"   disabled="disabled"/>
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="doc-ipt-3" class="am-u-sm-2 am-form-label">内容</label>
                    <div class="am-u-sm-10">
                        <input type="text" id="doc-ipt-3" placeholder="输入你想推送内容"/>
                    </div>
                </div>

                <div class="am-form-group">
                    <div class="am-u-sm-10 am-u-sm-offset-2">
                        <button type="submit" class="am-btn am-btn-default">推送</button>
                    </div>
                </div>
            </form>
        </div>


    </div>
</div>