<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title th:text="${title}"></title>
<meta name="description" content=""/>
<meta name="keywords" content=""/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="renderer" content="webkit"/>
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="/images/favicon.ico"/>
<meta name="apple-mobile-web-app-title" content="EasyLinker" />
<link rel="stylesheet" href="/css/amazeui.min.css" />
<link rel="stylesheet" href="/css/amazeui.datatables.min.css" />
<link rel="stylesheet" href="/css/app.css"/>
<script src="/js/jquery.min.js"></script>


