<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>EasyLinker</title>
<meta name="description" content="EasyLinker"/>
<meta name="keywords" content="index"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="renderer" content="webkit"/>
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<link rel="icon" type="image/png" th:href="@{/images/favicon.ico}"/>
<meta name="apple-mobile-web-app-title" content="Amaze UI"/>
<script th:src="@{/assets/js/echarts.min.js}"></script>
<link rel="stylesheet" th:href="@{/assets/css/amazeui.min.css}"/>
<link rel="stylesheet" th:href="@{/assets/css/amazeui.datatables.min.css}"/>
<link rel="stylesheet" th:href="@{/assets/css/app.css}"/>
<link rel="stylesheet" th:href="@{/css/switcher.css}" />

<script src="/assets/js/jquery.min.js"></script>