<div class="am-container">
    <h1 class="am-topbar-brand">
        <a href="#">EasyLinker</a>
    </h1>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only"
            data-am-collapse="{target: '#collapse-head'}"><span class="am-sr-only">导航切换</span> <span
            class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="collapse-head">
        <ul class="am-nav am-nav-pills am-topbar-nav">
            <li class=""><a href="/index">首页</a></li>
            <li class=""><a href="/document">文档</a></li>
        </ul>
        <div class="am-topbar-right">
            <a th:href="@{/signupPage}" class="am-btn am-btn-secondary am-topbar-btn am-btn-sm"><span class="am-icon-pencil"></span> 注册
            </a>
        </div>
        <div class="am-topbar-right">
            <a th:href="@{/loginPage}" class="am-btn am-btn-primary am-topbar-btn am-btn-sm"><span
                    class="am-icon-user"></span> 登录
            </a>
        </div>
    </div>
</div>