<!-- logo -->
<div class="am-fl tpl-header-logo">
    <img src="/images/logo.png" alt="" style="width: 60px"/>
</div>
<!-- 右侧内容 -->
<div class="tpl-header-fluid">
    <!-- 侧边切换 -->
    <div class="am-fl tpl-header-switch-button am-icon-list">
    </div>
    <div class="am-topbar-right">
        <div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
            <a class="am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle data-am-dropdown-toggle" >操作<span class="am-icon-caret-down"></span></a>
            <ul class="am-dropdown-content">
                <li><a href="/user/updatePage">修改资料</a></li>
                <li><a href="/logout">退出系统</a></li>
            </ul>
        </div>
    </div>
    <!-- 其它功能-->
    <div class="am-fr tpl-header-navbar">
        <ul>
            <!-- 欢迎语 -->
            <li class="am-text-sm tpl-header-navbar-welcome">
                <a href="#">欢迎你:<span th:text="${session.currentUser.username}"></span> </a>
            </li>

        </ul>
    </div>


</div>