<div class="row-content am-cf">

    <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
        <div class="widget widget-primary am-cf">
            <div class="widget-statistic-header">
                运行状态
            </div>
            <div class="widget-statistic-body">
                <div class="widget-statistic-value">
运行中
                </div>

            </div>
        </div>
    </div>
    <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
        <div class="widget widget-primary am-cf">
            <div class="widget-statistic-header">
                我的设备量
            </div>
            <div class="widget-statistic-body">
                <div class="widget-statistic-value" th:text="${systemInfo.deviceCount}">

                </div>

            </div>
        </div>
    </div>
    <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
        <div class="widget widget-purple am-cf">
            <div class="widget-statistic-header">
               当前在线
            </div>
            <div class="widget-statistic-body">
                <div class="widget-statistic-value" th:text="${systemInfo.onlineDevice}">
                </div>

            </div>
        </div>
    </div>


    <div class="am-u-sm-12 am-u-md-4">
        <div class="widget am-cf">
            <div class="widget-head am-cf">
                <div class="widget-title am-fl">服务器信息</div>
                <div class="widget-function am-fr">
                    <a href="javascript:;" class="am-icon-cog"></a>
                </div>
            </div>

            <div class="widget-body widget-body-md am-fr">
                <ul>
                    <li th:text="|操作系统：${systemInfo.osName}|"></li>
                    <li th:text="| 操作系统架构：${systemInfo.osArch}|"></li>
                    <li th:text="|操作系统版本：${systemInfo.osVersion}|"></li>
                    <li th:text="| 总内存：${systemInfo.totalMemory}|"></li>
                    <li th:text="|空余内存：${systemInfo.freeMemory}|"></li>
                    <li th:text="|已用内存：${systemInfo.alreadyUse}|"></li>
                </ul>

            </div>
        </div>
    </div>

</div>