<div class="row-content am-cf">


    <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
        <div class="widget widget-purple am-cf">
            <div class="widget-statistic-header">
                用户量
            </div>
            <div class="widget-statistic-body">
                <div class="widget-statistic-value">
                    100
                </div>
            </div>
        </div>
    </div>


    <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
        <div class="widget widget-purple am-cf">
            <div class="widget-statistic-header">
                设备量
            </div>
            <div class="widget-statistic-body">
                <div class="widget-statistic-value">
                   100
                </div>

            </div>
        </div>
    </div>

    <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
        <div class="widget widget-purple am-cf">
            <div class="widget-statistic-header">
                访问量
            </div>
            <div class="widget-statistic-body">
                <div class="widget-statistic-value">
                    12345
                </div>

            </div>
        </div>
    </div>


    <div class="am-u-sm-12 am-u-md-4">
        <div class="widget am-cf">
            <div class="widget-head am-cf">
                <div class="widget-title am-fl">服务器信息</div>
                <div class="widget-function am-fr">
                    <a href="javascript:;" class="am-icon-cog"></a>
                </div>
            </div>
            <div class="widget-body widget-body-md am-fr">

                <div class="am-progress-title">CPU Load <span class="am-fr am-progress-title-more">28% / 100%</span>
                </div>
                <div class="am-progress">
                    <div class="am-progress-bar" style="width: 15%"></div>
                </div>
                <div class="am-progress-title">CPU Load <span class="am-fr am-progress-title-more">28% / 100%</span>
                </div>
                <div class="am-progress">
                    <div class="am-progress-bar  am-progress-bar-warning" style="width: 75%"></div>
                </div>
                <div class="am-progress-title">CPU Load <span class="am-fr am-progress-title-more">28% / 100%</span>
                </div>
                <div class="am-progress">
                    <div class="am-progress-bar am-progress-bar-danger" style="width: 35%"></div>
                </div>
            </div>
        </div>
    </div>

</div>