<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title am-fl" th:text="${message}">增加设备</div>
                </div>
                <div class="widget-body am-fr">
                    <form class="am-form tpl-form-line-form" method="post" action="/admin/add">
                        <div class="am-form-group">
                            <label for="name" class="am-u-sm-3 am-form-label">名称</label>
                            <div class="am-u-sm-9">
                                <input type="text" class="tpl-form-input" id="name" name="name"
                                       placeholder="设备名称（如：客厅的空调）"
                                       required="required"/>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="type" class="am-u-sm-3 am-form-label">类型 </label>
                            <div class="am-u-sm-9">
                                <select class="am-btn am-btn-primary am-dropdown-toggle" style="color: #03a9f3"
                                        name="type">
                                    <option value="TYPE_VALUE">数值型（比如传感器值）</option>
                                    <option value="TYPE_SWITCHER">开关型（只有两个状态，默认关闭）</option>
                                    <option value="TYPE_MEDIA">媒体型（比如，监控图像，视频等等）</option>
                                </select>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="describe" class="am-u-sm-3 am-form-label">描述</label>
                            <div class="am-u-sm-9">
                                <input type="text" class="tpl-form-input" name="describe" id="describe"
                                       placeholder="设备名称（如：客厅的空调）"
                                       required="required"/>
                            </div>
                        </div>

                        <div class="am-form-group am-topbar-right">

                            <button type="submit" class="am-btn am-btn-primary ">增加</button>

                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>