<!-- 菜单 -->
<ul class="sidebar-nav">
    <li class="sidebar-nav-link">
        <a href="/admin/" class="active">
            <i class="am-icon-home sidebar-nav-link-logo"></i> 首页

        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="/admin/devices">
            <i class="am-icon-table sidebar-nav-link-logo"></i> 所有设备
        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="/admin/addDevice">
            <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 增加设备

        </a>
    </li>
    <li class="sidebar-nav-link">
        <a href="/admin/sysConfig">
            <i class="am-icon-clone sidebar-nav-link-logo"></i> 系统配置
        </a>
    </li>
</ul>

