<div class="tpl-user-panel-slide-toggleable">
    <div class="tpl-user-panel-profile-picture">
        <img src="/assets/img/user04.png" alt=""/>
    </div>
    <span class="user-panel-logged-in-text">
        <ul>

            <li th:text="'用户名：' + ${ session.currentUser.username}"></li>
            <li th:text="'APIKey：' + ${ session.currentUser.apiKey}"></li>
            <li th:text="'Email：' + ${ session.currentUser.email}"></li>
            <li th:text="'Phone：' + ${ session.currentUser.phone}"></li>
        </ul>
          </span>
    <a href="javascript:;" class="tpl-user-panel-action-link"> <span class="am-icon-pencil"></span> 账号设置</a>
</div>
