<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="include/htmlhead">
</head>
<header class="am-topbar am-topbar-fixed-top">
    <div class="am-container">
        <h1 class="am-topbar-brand">
            <a href="#">EasyLinker</a>
        </h1>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only"
                data-am-collapse="{target: '#collapse-head'}"><span class="am-sr-only">导航切换</span> <span
                class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="collapse-head">
            <ul class="am-nav am-nav-pills am-topbar-nav">
                <li class="am-active"><a href="/index">首页</a></li>
                <li class=""><a href="/document">文档</a></li>
            </ul>
            <div class="am-topbar-right">
                <a th:href="@{/signupPage}" class="am-btn am-btn-secondary am-topbar-btn am-btn-sm"><span class="am-icon-pencil"></span> 注册
                </a>
            </div>
            <div class="am-topbar-right">
                <a th:href="@{/loginPage}" class="am-btn am-btn-primary am-topbar-btn am-btn-sm"><span
                        class="am-icon-user"></span> 登录
                </a>
            </div>
        </div>
    </div>
</header>
<body>
<!-- .am-u-lg-centered 大于 1024 时居中 -->
<div class="am-g" style="margin-top: 100px">
    <div class="am-u-sm-4 am-u-lg-centered">
        <div class="am-panel  am-panel-danger">
            <div class="am-panel-hd">登录失败</div>
            <div class="am-panel-bd">
                登录失败，请重新登录！
            </div>
        </div>
    </div>
</div>


</body>
</html>